nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
    
}
.color{
    color: #4E47FF;
    
}
.inter{
    font-family: "Inter";
     font-optical-sizing: auto;
     font-style: normal;
     font-size: 99px 51px;

}
header{
    background-image: url(/Assets/Hero-bg.png);
   
}
.hover-button{
    background-color: #4747FF; 
    color: white;
    cursor: pointer;
    transition: all;
}
.hover-button:hover{
    background-color: black;  
}
.banner-content{
    text-align: center;
}
.banner-description{
    text-align: center;
    font-family: "Raleway";
}
.action{
    height: auto;
    width: auto;
    margin:20px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action-content{
    text-align: left;
}
.action-img{
    align-content:end;
}
.action-1{
    font-family: "Raleway";
    
    
}
.action-2{
    font-family: "Raleway";  
}
.prod-1{
   flex: 1;
}
.prod-3{
    background-color: whitesmoke;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
}
.prod-2{
    
    display: flex;
    justify-content: center;
}
.prod-4{
    text-align: center;
    font-family: "Raleway";
}
.prod-5{
  font-size: large;  
  font-weight: bold;
  color: #4747FF;
  font-family: "Inter";
}
.prod-6{
    font-size: medium;
    color: black;
    font-family: "Inter";
}